
.sign-in-btn {
    background-color: #8ebf42;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.sign-in-btn:hover{
    opacity: 0.8;
}

input[type=text], input[type=email], input[type=number], input[type=button], input[type=password] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
.form-wrapper {
    text-align: left;
    padding: 24px 50px 12px;
}